/* #665A46
#3276B3
#5687B3
#274866 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #274866;
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #6ea5d4;
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 12vh;
}

.div_row {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
}

.headerImg {
    height: 5.5vh;
    margin: 2vh;
}

.divTop {
    display: grid;
    margin-top: 10vh;
    grid-template-columns: 1fr 1fr;
    font-size: 3vh;
}

.back_gif {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 20vh;
}

.gif {
    height: 40vh;
}

.resumo {
    margin-top: 5vh;
    margin-right: 2vh;
}

.resumo>h3 {
    color: rgb(255, 255, 255);
}

.resumo>h5 {
    color: rgb(0, 255, 235);
}

hr {
    margin-top: 1vh;
    border: 1px solid rgb(0, 255, 235);
}

h3:hover,
h5:hover {
    color: rgb(255, 251, 0);
    background: linear-gradient(rgb(0, 0, 0) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .6s;
}

.resumo>img {
    margin-top: 3vh;
    margin-right: 15px;
    height: 9vh;
}