* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    outline-width: 0px;
}

:root {
    --cor0: #212026;
    --cor1: #525759;
    --cor2: #D7D9D8;
    --cor3: #737065;
    --cor4: #0D0000;
}

body {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor2);
    background-color: var(--cor0);
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid var(--cor1);
    align-items: center;
    background-color: var(--cor0);
}

header>nav {
    width: 50%;
}

.links ul {
    display: table;
    width: 100%;
}

.links ul li {
    list-style-type: none;
    display: table-cell;
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
}

.links ul li a:hover {
    border-bottom: 2px solid rgb(145, 205, 255);
    color: rgb(145, 205, 255);
    transition-duration: 0.7s;
}

nav>.myName {
    margin-left: 50px;
}

.myName:hover {
    color: rgb(145, 205, 255);
    transition-duration: 0.7s;
}

.links ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 17px;
    transition: .4s, background-position 0s;
}

a {
    border-bottom: 2px solid var(--cor2);
    color: var(--cor2);
}

#sobre {
    display: flex;
    margin-top: 15vh;
    height: 50vh;
}

#sobre div {
    width: 50%;
}

.gif {
    display: flex;
    height: 100%;
    width: 100%;
}

.gif img {
    height: 90%;
    margin-top: 5vh;
    margin-left: 150px;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 10%;
    box-shadow: 10px 20px 90px 25px rgb(72, 85, 102);
    background-color: var(--cor0);
}

.resumo {
    padding: 60px 130px;
}

.resumo .infos {
    font-size: 20px;
    font-weight: bold;
}

.topico {
    font-size: 30px;
    color: rgb(145, 205, 255);
    border-bottom: 1px solid rgb(145, 205, 255);
}

#projetos {
    display: grid;
    height: 70vh;
    margin-top: 20vh;
    border-top: 1px solid #525759;
    background-color: #000000;
}

#projetos .projetosTitulo {
    width: 100%;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.projetosTitulo h1 {
    color: rgb(145, 205, 255);
    font-size: 35px;
}

.linhaDeProjetos {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 5vh;
}

.card_projeto {
    height: 45vh;
    width: 30%;
    background-color: var(--cor1);
    color: var(--cor4);
    border: 1px solid var(--cor2);
}

.card_projeto div {
    width: 100%;
}

.card_projeto div img {
    width: 100%;
}

.card_projeto div p {
    font-size: 20px;
    font-weight: bold;
}

.card_projeto div h1,
.card_projeto div p {
    padding-left: 10px;
}

/* footer{
    margin-top: 5vh;
    display: flex;
    height: 20vh;
    background-color: #3d2424;
}  */

@media (max-width : 412px) {
    header {
        display: grid;
        width: 412px;
    }

    header nav h1 {
        font-size: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .myName {
        display: flex;
        justify-content: center;
        margin-right: 50px;
    }

    header nav {
        width: 100%;
    }

    .links ul li {
        padding-left: 10px;
    }

    main {
        width: 412px;
    }

    #sobre {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        height: 30vh;
    }

    .gif {
        display: none;
        visibility: hidden;
    }

    .resumo {
        width: 100%;
        padding: 0px 0px;
    }

    .infos {
        width: 100%;
    }

    .resumo .infos {
        font-size: 15px;
        font-weight: bold;
    }

    .topico {
        font-size: 20px;
        color: rgb(145, 205, 255);
        border-bottom: 1px solid rgb(145, 205, 255);
    }

    #projetos{
        height: fit-content;
    }

    .linhaDeProjetos {
        display: grid;
    }

    .projetosTitulo h1 {
        font-size: 25px;
    }

    .card_projeto {
        margin: 0px 20px 20px;
        width: fit-content;
        height: fit-content;
    }

    #projetos .projetosTitulo {
        margin-top: 15px;
        height: 30%;
    }
}