:root {
    --cor0: #212026;
    --cor1: #525759;
    --cor2: #D7D9D8;
    --cor3: #737065;
    --cor4: #0D0000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor4);
    color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--cor4);
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 12vh;
}

.myname {
    font-size: 3.5vh;
}

.div_row {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: left;
}

.headerImg,
.headerImgGit {
    height: 5.5vh;
    margin: 2vh;
}

.headerImgGit {
    border-radius: 100%;
    background-color: white;
}

.divTop {
    display: grid;
    margin-top: 10vh;
    grid-template-columns: 1fr 1fr;
    font-size: 3vh;
}

.back_gif {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: 20vh;
}

.gif {
    height: 40vh;
}

.resumo {
    margin-top: 5vh;
    margin-right: 2vh;
}

.resumo>h3 {
    color: rgb(255, 255, 255);
}

.resumo>h5 {
    color: rgb(0, 255, 235);
}

.hrLinguagens {
    margin-top: 1vh;
    border: 1px solid rgb(0, 255, 235);
}

h3:hover,
h5:hover {
    color: rgb(0, 204, 255);
    background: linear-gradient(rgb(0, 0, 0) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
    transition: .6s;
}

.divIcons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}

.divIcons>img {
    margin-top: 6vh;
    height: 9vh;
    transition: transform 1s;
}

.divIcons>img:hover {
    transition: 0.4s;
    transform: scale(1.2);
}

.divCertificacoes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    width: 100%;
    height: 100vh;
}

.certificacoes {
    width: 80%;
    height: 80%;
    background-color: var(--cor0);
    border-radius: 50px;
}

.certificacoes>h2,
h1 {
    margin: 5vh;
}

h1 {
    color: rgb(0, 200, 255);
}

.hrsenai {
    width: 50vh;
}

.hrnovotec {
    width: 30vh;
}

.hrMicrosoft {
    width: 60vh;
}

.hrnovotec,
.hrsenai,
p,
h4,
.hrMicrosoft {
    margin-left: 5vh;
}

.hrnovotec,
.hrsenai,
.hrMicrosoft {
    border: 1px solid rgb(0, 200, 255);
}

.sepTopAndBottom {
    border: 1 px solid rgb(0, 200, 255);
    margin-top: 200px;
}