* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    outline-width: 0px;
}

:root {
    --cor0: #212026;
    --cor1: #525759;
    --cor2: #D7D9D8;
    --cor3: #737065;
    --cor4: #0D0000;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--cor0);
    background-color: var(--cor2);
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid var(--cor0);
    align-items: center;
    background-color: var(--cor2);
}

header>nav {
    width: 50%;
}

.links ul {
    display: table;
    width: 100%;
}

.links ul li {
    list-style-type: none;
    display: table-cell;
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
}

.links ul li a:hover {
    border-bottom: 2px solid rgb(0, 19, 34);
    color: rgb(0, 19, 34);
    transition-duration: 0.7s;
}

nav>.myName {
    margin-left: 50px;
}

.myName:hover {
    color: rgb(0, 0, 0);
    transition-duration: 0.7s;
}

.links ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    font-size: 17px;
    transition: .4s, background-position 0s;
}

header a {
    border-bottom: 2px solid var(--cor0);
    color: var(--cor0);
}

section {
    width: 100%;
}

.about-me{
    margin-top: 5vh;
}

main {
    display: flex;
    width: 100%;
}

.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.myMedias a img {
    height: 45px;
}

.myMedias a {
    text-decoration: none;
}

.whoIam h1 {
    font-size: 60px;
}

.whoIam h2 {
    font-size: 100px;
    border-bottom: 5px solid black;
}

.whoIam h5 {
    margin-top: 15px;
    font-size: 15px;
}

.mais-sobre{
    margin-top: 10vh;
}

.name-proj{
    display: flex;
    justify-content: center;
}

.name-proj h4{
    font-size: 50px;
}

#projetos {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;
}

.project1>img {
    margin-top: 5vh;
    height: 300px;
    border: 2px solid var(--cor4);
    transition: .4s, background-position 0s;
}

footer{
    display: flex;
    width: 100%;
    height: 10vh;
    border-top: 2px solid var(--cor0);
    background-color: var(--cor2);
    margin-top: 5vh;
    align-items: center;
}

footer>nav {
    width: 100%;
}

.links_contatos ul {
    display: table;
    width: 100%;
}

.links_contatos ul li {
    list-style-type: none;
    display: table-cell;
    width: 25%;
    text-align: center;
    font-weight: bold;
    padding-right: 10px;
}

.links_contatos ul li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    transition: .4s, background-position 0s;
}

.links_contatos ul li a:hover, .project1 img:hover  {
    transform: scale(1.03);
    transition-duration: 0.7s;
}

.links_contatos ul li a img{
    height: 40px;
}